body {
    background-image:url(../IMAGES/fondofinal2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    
}

#parent {
    height: 40px;
    white-space: nowrap;
    overflow: hidden; 
    font-family: 'Source Code Pro', monospace;  
    font-size: 33px;
    color: rgba(255, 255, 255, 0.699);
    position: relative;
}
  
#border {
    border-bottom: solid 3px rgba(92, 85, 57, 0.75);
    position: absolute;
    right: -7px;
    width: 20px;
}
  
  /* Animation */
#parent {
    animation: animated-text 1s steps(30,end) 1s 1 normal both
}
  
#border {
     animation: animated-cursor 600ms steps(30,end) infinite;
}
  
  /* text animation */
  
@keyframes animated-text{
    from{width: 0;}
    to{width: 360px;}
}
  
  /* cursor animations */
  
@keyframes animated-cursor{
    from{border-bottom-color: rgba(255, 187, 0, 0.75);}
    to{border-bottom-color: transparent;}
}

* {
    box-sizing: border-box;
}

.derecha {
    margin: auto;
    width: 15%;
}

.botonescentro {
    text-align: center;
    margin-top: 100px;
    margin-left: 70px;
}

.botones button {
    width: 10%;
    border: none;
    font-family: "Audiowide", sans-serif;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    background: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px
       
}

.botones button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 136, 0);
    transform: scale(1.05);
}

.centro{
    text-align: center;
}

